/* For the table */
.existing-projects {
    border-collapse: collapse;
    width: 100%;
}

.existing-projects td,
.existing-projects th {
    border: 1px solid #ddd;
    padding: 8px;
}

.existing-projects tr:nth-child(even) {
    background-color: #f2f2f2;
}

.existing-projects tr:hover {
    background-color: #ddd;
}

.existing-projects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.existing-projects td a i {
    font-size: 20pt; /* To change the size of the actions icons for index.php, archived.php, recycle-bin.php */
}

.existing-projects td a i {
    color: #000;
}


