projects/
archives/
config/config.php
config/database.php

img/favicon/icon_1024.png
img/favicon/icon_1428.png
img/favicon/icon_16.png
img/favicon/icon_256.png
img/favicon/icon_32.png
img/favicon/icon_64.png
